# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
hwvenv/
myvenv/

# Jupyter
.ipynb_checkpoints/

# Data and models
data/
*.csv
*.json
models/
checkpoints/

# Logs
logs/
lightning_logs/
runs/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# PyTorch specific
*.pth
*.bin

# Other
homework_2_multi_branch_classification/best_params.txt